.block {
  height: 200px;
  max-width: 600px;
  margin: 2em auto;
  perspective: 240px;
}

* {
  box-sizing: border-box;
}

.block:hover .box:nth-of-type(1) {
  transform: rotateY(60deg) scale(.5);
}

.block:hover .box:nth-of-type(2) {
  transform: rotateY(-60deg) scale(.5);
}

.box {
  position: absolute;
  background-color: #f00;
  width: 50%;
  height: 100%;
  border: 5px solid #9d3fd2;
  transition: transform .3s ease;
}

.block::before {
  content: 'Hello';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.box:nth-of-type(1) {
  left: 0;
}

.box:nth-of-type(2) {
  right: 0;
}
